* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(135, 206, 250, 0.682);
}

header {
  background: #394674;
  color: #fff;
  width: 100%;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: greenyellow;
}

footer {
  background: #394674;
  color: #fff;
  width: 100%;
  padding: 0.5rem;

  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
}

div {
  margin: 40px;
}

P::after {content: "\00a9"}

#box {
  padding: 10px;
  border: 3px solid black;
  margin: 40px;
}

a:hover {
  background-color: yellow;
}